.engagement-container {
    padding: 0 10px;
}

.engagement {
    padding: 8px 0;
    font-weight: bold;
}

#likes-counter {
    padding-top: 7px;
}

.sm {
    font-size: 28px;
}

#heart-image {
    padding-right: 20px;
}

.comment-user {
    font-weight: bold;
}

.comment {
    padding: 3px 0;
}

.timestamp {
    color: gray;
    font-size: 12px;
    padding: 3px 0;
}

.comment form {
    padding: 3px 0;
}

.comment-textbox {
    width: 94%;
    height: 18px;
    padding: 4px;
    resize: none;
}